@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {

  background-image: url("../../public/serene-background.gif");
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.social-container {

  display: flex;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-right: 10%;
  margin-left: 10%;

}

.social-container > a {

  justify-content: center;
  width: 100%;
}
.social-container > a > img {

  max-width: 50%;
}

p {
  font-size: 10px;
}

main {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  text-align: center;

}

h1 {
  justify-content: center;
  padding: 20px;
}